h1 {
    text-align:left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:1;
    margin:0%;
    font-size:10em;
    color:black;
    opacity: 1;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 1;
    color: black;
    margin:0;
    font-size:3em;
    text-align: left;
    -webkit-text-size-adjust: auto; /*Default value, allows text resizing*/
}

h3 {
    margin:2px;
    color:black;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    opacity: 0.5;

}

h4 {
    color:red;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 100%;  
    margin-top: 2.5%;
    margin-right: 100px;
    text-align: left;
    opacity: 0.9;
}

h5 {
    color: white
}

#intro {
    width: 100%;
    text-align: left;
}

.odd {
    background-color: ;
    margin-bottom:10%;
    margin-top:50%;
    width: 100%;
    background:;
}

.even {
    background-color: #222021;
    background: rgba(34, 32, 33, 0.85) ;
    height:1300px;
    width: 100%
    
}

p{
    font-family: sans-serif;
    margin-top:10%;
    margin-bottom:10%;
    margin-left: 0%;
    width:80%;
    text-align: left;
    color:black;
    font-size: 130%;
}

body {
    background-image:;
    text-align: center;
    font-family: Arial;
    padding: 0;
    margin: 1; 
}

header {
    width:100%;
    height:300px;
    margin-bottom:20px;
    margin-top:20px; 
}

/* Apply to all images */
img {
    
    max-width: 100%;
    height: auto
}

.container {
    margin: 5vw;
    padding: 2% 5%;
    width: 100%
}

