h1 {
    text-align:left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding:1;
    margin:0%;
    font-size:10em;
    color:black;
    opacity: 1;
}

h2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    opacity: 1;
    color: black;
    margin:0;
    margin-bottom: 0%;
    font-size:3em;
    text-align: left;
    -webkit-text-size-adjust: auto; /*Default value, allows text resizing*/
}

h3 {
    margin:2px;
    color:black;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2em;
    opacity: 1;
    margin-bottom: 0%;
    -webkit-text-size-adjust: auto; /*Default value, allows text resizing*/

}

h4 {
    color:red;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 100%;  
    margin-top: 0%;
    margin-bottom: 20%;
    margin-right: auto;
    text-align: left;
    opacity: 0.9;
    max-width: 400px;
    -webkit-text-size-adjust: auto; /*Default value, allows text resizing*/
} 

h5 {
    color: white
}

#intro {
    width: 100%;
    text-align: left;
}

.odd {
    background-color: ;
    margin-bottom:10%;
    margin-top: 100%;
    width: 100%;
    background:;
}

.even {
    background-color: #222021;
    background: rgba(34, 32, 33, 0.85) ;
    height:1300px;
    width: 100%
    
}

p{
    font-family: sans-serif;
    margin-top:5vw;
    margin-bottom: 5vw;
    margin-left: 0%;
    width: 2000px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: left;
    color:black;
    font-size: 200%;
    
}

body {
    background-image:;
    text-align: center;
    font-family: Arial;
    padding: 0;
    margin: 1; 
}

header {
    width:100%;
    height:300px;
    margin-bottom:20px;
    margin-top:20px; 
}

/* Apply to all images */
img {
    
    max-width: 200%;
    height: auto;
    float: left;
    margin-top: 100vw;
   
    
}
.container {
    margin: 5vw;
    padding: 2% 5%;
    width: 100%
}

/* Default styles for all devices */

@media (min-width: 768px) {
    /* Styles for devices with a width of 768 pixels and larger (tablets and desktops) */
  }
  
  @media (min-width: 992px) {
    /* Styles for devices with a width of 992 pixels and larger (larger desktops) */
  }
  
  @media (min-width: 1200px) {
    /* Styles for devices with a width of 1200 pixels and larger (extra-large desktops) */
  }
  
  

